#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
}

h1{
  font-family: 'Brush Script MT', cursive;
  color: #FFD700;
  margin: 0;
}

.search-wrapper {
  background-color: #F8F8FF;
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

input {
  outline: 0;
  background-color: #F8F8FF;
  border-width: 0 0 2px;
  border-color: SlateBlue;
  width: 89%;
  color: black;
}
input:focus {
  border-color: blue;
  outline: 1px;
}

  .btn-search{
    border: none;
    border-left: 2px DodgerBlue solid;
    background-color:#F8F8FF ;
  }
  .btn-search:focus{
    background-color:DodgerBlue ;
    border-radius: 25%;
  }
  .btn-search:hover{
    background-color:lightblue ;
    border-radius:  0 25% 25% 0;
  }

  .main-wrapper {
    text-align: center;
    background-color: #F8F8FF;
    color: black;
    border-radius: 5px;
    margin: 10px 0;
    height: 230px;
  }

  .city{
    font-size: 22px;
    position: relative;
    top: 10px;
  }
  
  h2{
    font-size: 22px;
    position: relative;
    bottom: 10px;
  }

  h3{
    position: relative;
    bottom: 30px;
  }
  
  img{
    height: 90px;
    width: 90px;
  }
  
  .weather{
    font-size: 0.875em;
    font-style: italic;
    position: relative;
    bottom: 50px;
  }
